/* Yoda Stories */

body {
	background: #f0f0f0;
	font-family: 'PT Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

pre {
	font-family: Consolas, monaco, monospace;
}

h1,
h2,
h3 {
	font-family: 'Orbitron', sans-serif;
}

img {
	margin: 1em inherit;
}

img.center-block-large {
	margin-left: -12.33333333%; /* Should now align with center of the container */
}

article {
	font-size: 110%;
	line-height: 1.6;
	padding-bottom: 2em;
}

.title {
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

.meta {
	margin-top: 0.5em;
	line-height: 1;
}